* {
  box-sizing: border-box; }

html, body {
  height: 100%; }

ul,
li {
  padding: 0;
  margin: 0; }

h4 {
  font-size: 1.6rem;
  text-transform: uppercase; }

body {
  font-family: "Open Sans", sans-serif !important;
  position: relative; }

a {
  display: inline-block;
  text-decoration: none;
  color: inherit; }
  a:hover {
    color: inherit; }

img {
  width: 100%; }

.btn {
  background: #8824cd;
  border-radius: 18px;
  color: white;
  font-weight: 700;
  border: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  text-transform: none;
  font-size: 1.5rem;
  padding: 1rem 4rem;
  letter-spacing: 0; }
  .btn:hover {
    color: inherit; }

.row {
  margin-top: 40px; }
  .row:first-child {
    margin-top: 0; }

.wrapper {
  height: 100%;
  position: relative; }
  .wrapper #main-header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    padding: 0 0 0 14%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05); }
    .wrapper #main-header .nav-button {
      border: 0;
      margin: 0;
      padding: 0;
      color: white;
      font-size: 2rem;
      display: none; }
    .wrapper #main-header #logo {
      display: flex;
      align-items: center; }
      .wrapper #main-header #logo img:first-child {
        margin-right: 10px; }
    .wrapper #main-header nav {
      display: flex;
      align-items: center; }
      .wrapper #main-header nav .nav-close-button {
        display: none; }
      .wrapper #main-header nav .search-form {
        padding: 0 1rem;
        margin: 0;
        position: relative; }
        .wrapper #main-header nav .search-form .search-input {
          border-radius: 16px;
          padding: 1.5rem 2.5rem;
          font-weight: 300;
          font-size: 13px;
          margin: 0;
          border: 0;
          color: #2e3b4e; }
          .wrapper #main-header nav .search-form .search-input:focus {
            border: 0; }
        .wrapper #main-header nav .search-form .search-button {
          border: 0;
          margin: 0;
          padding: 0;
          position: absolute;
          top: 0;
          right: 30px; }
      .wrapper #main-header nav ul {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-around; }
        .wrapper #main-header nav ul li {
          padding: 0 2rem;
          font-weight: 600;
          font-size: 13px; }
          .wrapper #main-header nav ul li a {
            border-bottom: 3px solid transparent;
            padding: 4rem 0;
            transition: 0.2s all ease-in-out; }
            .wrapper #main-header nav ul li a.is-active {
              border-bottom: 3px solid white; }
            .wrapper #main-header nav ul li a:hover {
              color: #8824cd; }
  .wrapper #banner {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: url("../images/banner-img.png") center center no-repeat;
    color: white;
    background-size: cover; }
    .wrapper #banner .container, .wrapper #banner .row {
      height: 100%; }
    .wrapper #banner #banner-content {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      height: 100%;
      text-align: right; }
      .wrapper #banner #banner-content h1 {
        font-weight: 500; }

#features {
  color: white;
  background: #2e3b4e;
  padding: 6.5rem 0;
  position: relative;
  border-top: 1px solid rgba(255, 255, 255, 0.1); }
  #features:after {
    content: '';
    display: block;
    height: 120px;
    width: 100px;
    background: #2e3b4e;
    border-radius: 70px;
    position: absolute;
    left: 50%;
    margin-left: -50px;
    bottom: -30px; }
  #features .row:first-child {
    margin-top: 0; }
  #features .row p {
    text-align: justify; }

#get-started {
  background: url("../images/bg-1.png") center center no-repeat;
  background-size: cover;
  padding: 20rem 0;
  color: white;
  text-align: center; }
  #get-started p {
    text-align: justify; }
  #get-started h1 {
    font-weight: 300; }
  #get-started .btn {
    background: white;
    color: #e7526b;
    padding: 1.5rem 8rem;
    border-radius: 30px;
    font-size: 20px;
    text-transform: none;
    display: inline-block; }

.about-us {
  display: flex;
  align-items: center;
  color: #2e3b4e; }
  .about-us #about-img-1 {
    background: url("../images/about-img-2.png") center center no-repeat;
    background-size: cover; }
  .about-us #about-img-2 {
    background: url("../images/about-img-1.png") center center no-repeat;
    background-size: cover; }
  .about-us .about-img {
    min-height: 492px; }
  .about-us .about-content p {
    font-size: 20px; }
    .about-us .about-content p:last-child {
      font-size: 15px;
      font-weight: 300; }

#experience {
  background: url(../images/bg-2.png) center center no-repeat;
  background-size: cover;
  color: white;
  padding-top: 70px;
  text-align: center; }
  #experience .experience-wrapper {
    background: rgba(136, 36, 205, 0.7);
    padding: 8rem 0; }
    #experience .experience-wrapper h2 {
      font-weight: 400; }
    #experience .experience-wrapper p {
      font-size: 20px;
      color: rgba(255, 255, 255, 0.9);
      padding: 0 2rem; }

#blog-post {
  color: white;
  background-position: center center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important; }
  #blog-post .blog-post-wrapper {
    background: -moz-linear-gradient(top, transparent 0%, transparent 42%, transparent 65%, rgba(46, 59, 78, 0.65) 95%, rgba(46, 59, 78, 0.65) 99%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, transparent 0%, transparent 42%, transparent 65%, rgba(46, 59, 78, 0.65) 95%, rgba(46, 59, 78, 0.65) 99%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, transparent 0%, transparent 42%, transparent 65%, rgba(46, 59, 78, 0.65) 95%, rgba(46, 59, 78, 0.65) 99%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
    padding-top: 40rem;
    padding-bottom: 8rem; }
    #blog-post .blog-post-wrapper .tag {
      display: inline-block;
      border: 2px solid white;
      border-radius: 30px;
      font-size: 1.5rem;
      padding: 1rem 2rem;
      margin-bottom: 20px;
      font-weight: 600; }
    #blog-post .blog-post-wrapper h1 {
      font-weight: 400; }
    #blog-post .blog-post-wrapper .author {
      display: flex;
      align-items: center; }
      #blog-post .blog-post-wrapper .author .rounded {
        display: inline-block;
        width: 50px;
        height: 50px;
        background: #2e3b4e;
        border-radius: 100%; }
      #blog-post .blog-post-wrapper .author h5 {
        margin: 0;
        margin-left: 20px;
        font-weight: 600; }

#contact {
  background: #e7526b;
  padding: 5rem 0 10rem 0;
  color: white; }
  #contact p {
    font-weight: 300;
    font-size: 14px; }
  #contact a {
    text-decoration: underline;
    font-weight: 300;
    font-size: 14px; }

footer {
  background: #2e3b4e;
  color: white;
  padding: 3rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px; }

@media (max-width: 1000px) {
  .wrapper #main-header {
    padding: 4rem 2rem;
    flex-wrap: wrap; }
    .wrapper #main-header .nav-button {
      display: block;
      margin-right: 20px; }
    .wrapper #main-header nav {
      display: block;
      position: fixed;
      top: 0;
      right: 0;
      height: 100%;
      width: 300px;
      background: #8824cd;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      padding-top: 10rem;
      transform: translate(300px);
      transition: .5s ease-in-out all; }
      .wrapper #main-header nav .nav-close-button {
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 2rem;
        color: white;
        border: 0; }
      .wrapper #main-header nav.show-nav {
        transform: translate(0); }
      .wrapper #main-header nav .search-form {
        text-align: center; }
        .wrapper #main-header nav .search-form .search-button {
          right: 70px; }
      .wrapper #main-header nav ul {
        flex-direction: column; }
        .wrapper #main-header nav ul li a {
          padding: 2rem 0; }
          .wrapper #main-header nav ul li a:hover {
            color: #e7526b; }
  .wrapper #banner .container, .wrapper #banner .row {
    height: 100%; }
  .wrapper #banner .columns {
    width: 100%; }
  .wrapper #banner #banner-content {
    align-items: center;
    text-align: center; }

  .about-us {
    padding: 5rem 0; }
    .about-us .about-img {
      display: none; }
    .about-us .columns {
      width: 100%; } }
@media (max-width: 750px) {
  #banner #banner-content h1 {
    font-size: 4rem; } }
@media (max-width: 550px) {
  .row {
    margin-top: 40px; }

  #blog-post .blog-post-wrapper {
    padding-top: 20rem; }

  #banner #banner-content h1 {
    font-size: 3.4rem; } }

/*# sourceMappingURL=style.css.map */
